<table>
  <tbody>
      <% list.list_comments.each do |list_comment| %>
      <tr>
        
        <td>
          <%= link_to user_path(list_comment.user) do %>
            <%= list_comment.user.name %>
          <% end %>
        </td>
        <td><%= list_comment.comment %></td>
        <td>
          <% if list_comment.user == current_user %>
            <%= link_to "Destroy", list__comment_path(list, list_comment), method: :delete, class: "btn btn-danger pull-right", remote: true %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>