<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: @user %>
      <p><%=link_to"お気に入り記事",favorites_user_path(@user) %></p>
      <h2 class="mt-3">New movie</h2>
      <%= render 'public/lists/form', list: @list %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Movies</h2>
      <%= render 'public/lists/index',lists: @lists %>
    </div>
  </div>
</div>

